@media (max-width:1100px) {
	.menu {
		display: none;
		position: absolute;
		top: 110px;
		right: 50px;
/*    		top: 10px;*/
/*    		margin-top: 50px;*/
/*    		right: 0;*/
    		flex-direction: column;
    		gap: 25px;
/*    		row-gap: 50px;*/
/*    		gap: 100px;*/
		/*    width: 100%;*/
/*    		justify-content: center;*/
/*    		align-items: center;*/
	}
	.hamburger-wrap {
		display: flex;
	}
	#hamburger-toggle:checked ~ .menu {
		display: flex;
	}
	#hamburger-toggle ~ .menu li {
	    /*height: 0;
	    margin: 0;
	    padding: 0;
	    border: 0;
	    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	    overflow: hidden;*/
	}
  #hamburger-toggle:checked ~ .menu li {
    /*border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);*/
  }
  .menu > li {
    /*display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;*/
  }
  .menu > li:not(:last-child) {
/*    border-bottom: 1px solid #444;*/
  }
}