@media (max-width: 1300px) {
      .mp-about__list {
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            /*            row-gap: calc(25px + 25 * (100vw - 320px) / 980);*/
            row-gap: clamp(25px, 25px + 25 * (100vw - 320px) / 980, 50px);
      }
}
@media (max-width: 1100px) {


      .menu-wrap {
            position: absolute;
            background-color: rgba(82, 94, 110, 1);
/*            background-color: var(--main-color);*/
            width: 100%;
            height: calc(100vh - 100%);
            top: 100%;
            left: -100%;
            -webkit-transition: left 0.5s;
            transition: left 0.5s;
      }
      .menu {
            flex-direction: column;
            gap: 3em;
            height: 100%;
            width: 100%;
            padding: 10% 10% 25% 10%;
            /*            overflow-x: hidden;*/

            /*            background-color: var(--main-color);*/
            /*            background-color: rgba(82, 94, 110, 1);*/
            /*            margin: 10px;*/
            /*padding-left: 15%;
            padding: 10%;*/

            overflow-y: scroll;
      }
      .submenu__wrap {
            position: static;
      }
      .submenu__list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3em;
      }
      .submneu {
            margin-right: 0;
      }
      .hamburger-wrap {
            display: flex;
      }
      #hamburger-toggle:checked ~ .menu-wrap {
            left: 0;
            -webkit-transition: left 0.5s;
            transition: left 0.5s;
      }
      .mp-events__list {
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
      }
      .mp-study__background {
            background: var(--gradient),
                  url(../images/main-page-study-2.jpg);
            background-size: cover;
      }
      .mp-study__list {
            grid-template-columns: repeat(2, 1fr);
      }
      .mp-news__list {
            grid-template-columns: auto;
      }
}

@media (max-width: 770px) {
      .mp-header__title span {
            display: none;
      }
}
@media (max-width: 680px) {
      .mp-news__wrap {
            grid-template-columns: auto;
            justify-items: center;
            justify-content: center;
            row-gap: 50px;
      }
      .footer-main__content {
            flex-direction: column;
            gap: 10px;
            align-items: flex-end;
      }
      .footer-main__text {
            text-align: end;
            gap: 10px;
      }
      .mp-news__list {
            /*overflow-y: auto;
            overflow: auto;*/
            overflow: hidden;
            height: 100%;
            padding-right: 0;
      }
      .mp-news__vk {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            /*            height: calc(100% + 100px);*/
            height: 700px;
      }

      .vk__background {
            position: absolute;
            background: url(../images/main-page-vk-banner.jpg);
            background-repeat: no-repeat;
            background-position: center;
            /*      object-fit: cover;*/
            width: 100vw;
            width: calc(100% + (10px + 40 * (100vw - 320px) / 1080) * 2);
            height: 100%;
            z-index: -10;
      }
      .footer {
            margin-top: 0;
      }
      .footer-main__icons img {
            /*      height: calc(35px + 20 * (100vw - 680px) / 720);*/
            height: clamp(35px, 35px + 5 * (100vw - 320px) / 360, 40px);
      }
      .footer-main__logo {
            width: 150px;
      }
}
@media (max-width: 650px) {
      .mp-about__list {
            grid-template-columns: repeat(1, 1fr);
      }
      .mp-about__item {
            flex-direction: row;
            text-align: left;
            justify-content: center;
            width: 100%;
      }
      .mp-about__item p {
            max-width: 227px;
            /* max-width: calc(150px + 77 * (100vw - 320px) / 330); */
      }
      .title-and-subtitle {
            flex-direction: column;
            gap: 25px;
      }
      .s-subtitle {
            max-width: 600px;
      }
}
@media (max-width: 560px) {
      .mp-study__list {
            grid-template-columns: repeat(1, 1fr);
      }
      .mp-study__item {
            flex-direction: row;
            width: 100%;
            max-width: 400px;
            height: 165px;
            padding: 0;
            justify-content: space-evenly;
            align-items: center;
      }
      .mp-study__item p {
            text-align: start;
            margin: 0;
            width: 60%;
      }
      .mp-study__item img {
            /*            width: calc(50px + 10*(100vw - 320px)/240);*/
            width: clamp(50px, 50px + 10 * (100vw - 320px)/240, 60px);
      }
      .submenu__list a {
            white-space: normal;
      }
      .submenu__list {
            padding: 1em;
            padding-top: 1.5em;
            overflow: hidden;
            gap: 1.5em;
      }
      .menu {
            gap: 2em;
      }
}
@media (max-width: 460px) {
      .footer-main__text > .s-text-link {
            display: none;
      }
      .footer-main__text {
            font-size: 14px;
      }
}
@media (max-width: 430px) {
      .event__text {
            grid-template-columns: auto;
            grid-template-rows: repeat(2, 1fr);
            /* justify-items: left; */
            /* padding-left: 2em; */
            padding: 0.7em 1em;
            row-gap: 0.5em;
            bottom: 5px;
            left: 5px;
            width: calc(100% - 10px);
      }
      .event--main::after {
            top: 5px;
            right: 5px;
      }
      .mp-about__item {
            /*            gap: calc(15px + 35 * (100vw - 320px) / 110);*/
            gap: clamp(15px, 15px + 35 * (100vw - 320px) / 110, 50px);
      }
      .mp-about__item img {
            /*            width: calc(50px + 30 * (100vw - 320px)/ 110);*/
            width: clamp(50px, 50px + 30 * (100vw - 320px)/ 110, 80px);
      }
      .footer-main__wrap {
            gap: calc(var(--main-margin));
      }
      .footer-main__logo {
            display: none;
      }
      .footer-main__content {
            align-items: flex-start;
      }
      .footer-main__text {
            text-align: left;
      }
      .footer-main__icons {
            align-self: flex-end;
      }
}
@media (max-width: 375px) {
      .mp-about__item {
            flex-direction: column;
            text-align: center;
            padding-top: 60px;
      }
}




@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #ECECEC;
		--background-color: #525E6E;
		--background-color:rgba(37, 44, 54, 1);
		--gradient:linear-gradient(0deg, rgba(0, 0, 0, 0.6) 41.25%, rgba(0, 0, 0, 0) 100%);
		--window-background-color: rgba(32, 58, 96, 0.85);
		--acсent-color: rgba(32, 58, 96, 1);
		--main-color: rgba(63, 77, 96, 1);
		--secondary-color: rgba(97, 118, 147, 1);
	}


	.mp-study__item {
		background: var(--main-color);
	}
	.s-point-link {
		color: #ECECEC;
	}
	.footer-copyright {
		background: none;
	}
}