@media (max-width: 1100px) {
      .mp-header {
            /* height: 40rem; */
      }
      .fixed-menu {
            background-color: rgba(97, 118, 147, 0.7);
      }
      
      .menu-wrap {
            position: absolute;
            width: 50%;
            width: 100%;
            top: 100%;
            left: -100%;
            overflow: hidden;
            -webkit-transition: left 0.5s;
            transition: left 0.5s;
      }
      .menu {
            flex-direction: column;
            gap: 3em;
            background-color: var(--main-color);
            background-color: rgba(82, 94, 110, 1);
            padding-left: 15%;
            padding: 10%;

            height: 100vh;
            overflow: scroll;
      }
      .submenu__wrap {
            position: static;
      }
      .submenu__list {
            flex-direction: row;
            flex-wrap: wrap;
		gap: 3em;
      }
      .hamburger-wrap {
            display: flex;
      }
      #hamburger-toggle:checked ~ .menu-wrap {
            left: 0;
            -webkit-transition: left 0.5s;
            transition: left 0.5s;
      }
	.mp-header__icons img {
		width: 60px;
	}
}

@media (max-width: 770px) {
      .container {
            padding-right: 25px;
            padding-left: 25px;
      }
      .fixed-menu__logo img {
            width: 60px;
      }
      
}
@media (max-width: 650px) {
      
}
@media (max-width: 560px) {
     
}
@media (max-width: 480px) {
      .container {
            padding-right: 15px;
            padding-left: 15px;
      }
      .fixed-menu__logo img {
            width: 50px;
      }
      .mp-header__icons img {
		width: 50px;
	}
      .mp-header__title span {
            display: none;
      }
}

